# Analysis:
1. Initial outlier analysis
2. Data distribution
3. Null values
4. Other interesting findings

In [1]:
import pandas as pd
import datetime as dt
import seaborn as sns
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("../data/raw/other_data/sample_data.csv")

/Users/patrick/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266440 entries, 0 to 1266439
Data columns (total 26 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   vendor_id              1266440 non-null  int64
 1   tpep_pickup_datetime   1266440 non-null  object
 2   tpep_dropoff_datetime  1266440 non-null  object
 3   passenger_count        1259591 non-null  float64
 4   trip_distance          1266440 non-null  float64
 5   ratecode_id            1259591 non-null  float64
 6   store_and_fwd_flag     1259591 non-null  object
 7   pu_location_id         1266440 non-null  int64
 8   do_location_id         1266440 non-null  int64
 9   payment_type           1266440 non-null  int64
 10  fare_amount            1266440 non-null  float64
 11  extra                  1266440 non-null  float64
 12  mta_tax                1266440 non-null  float64
 13  tip_amount             1266440 non-null  float64
 14  tolls_amount           1266440 non-null  float64
 15  improvement_surcharge  1266440 non-null  float64
 16  total_amount           1266440 non-null  float64
 17  congestion_surcharge   1186507 non-null  float64
 18  pu_year                1266440 non-null  int64
 19  pu_day                 1266440 non-null  int64
 20  pu_month               1266440 non-null  int64
 21  pu_hour                1266440 non-null  int64
 22  is_weekend             1266440 non-null  int64
 23  is_weekday_peak_hour   1266440 non-null  int64
 24  trip_duration          1266440 non-null  int64
 25  is_school_holiday      1266440 non-null  int64
dtypes: float64(11), int64(12), object(3)
memory usage: 251.2+ MB

In [4]:
col_interest = ['passenger_count', 'trip_distance', 'fare_amount', 'trip_duration']
df[col_interest].describe()

       passenger_count  trip_distance   fare_amount  trip_duration
count     1.259591e+06   1.266440e+06  1.266440e+06   1.266440e+06
mean      1.562722e+00   3.008077e+00  1.347355e+01   1.082000e+03
std       1.208074e+00   3.927121e+00  1.355243e+02   4.218344e+03
min       0.000000e+00  -2.568000e+01 -2.540000e+02  -3.224000e+03
25%       1.000000e+00   9.800000e-01  6.500000e+00   4.040000e+02
50%       1.000000e+00   1.630000e+00  9.500000e+00   6.800000e+02
75%       2.000000e+00   3.060000e+00  1.500000e+01   1.120000e+03
max       9.000000e+00   1.335200e+02  1.509984e+05   2.662280e+05

Need to drop negative fare_amount, trip_duration, trip_distance data

In [ ]:
ax = sns.boxplot(data=df_2, orient="h", palette="Set2")